
.claude/
.git/
.github/
.mimocode/
CLAUDE.md
E27-A_产品资料/
HD-RK3506-EVM/
OpenVelaDocs/
RK3506G2/
lfs/
uboot_build/
openvela/nand_firmware/v4_backup_update.img
nanopi_m4_rk3399/
openvela/.repo/
openvela/cmake_out/
openvela/nand_firmware/.mcu_build/
.dsh/
JsFeatureDocs/
VelaDocs/
Vela_Application_Documentation-main/
luoxe_docs/
veladocsOffial/
